# BIT101 Verification

BIT 101 是由我校学长开发的应用，用户量庞大，值得信任。

应参考[其官方文档](https://bit101-api.apifox.cn/)，利用 BIT 101 提供的 API 接口，间接调用北京理工大学统一身份认证系统，进行身份验证。